#footer {
    bottom: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
}

#footer ul {
    margin: 0 auto;
}

#footer p {
    color: black;
    margin: 0 auto;
}

#footer li {
    list-style: none;
}


