body {
    font-family: montserrat, arial, verdana;
}

#searchBox {
    background-color: white;
    color: cornflowerblue;
    border-color: cornflowerblue;
}

#searchBox:hover {
    background-color: cornflowerblue;
    color: white;
    border-color: white;
}

#searchBox:focus {
    background-color: cornflowerblue;
    color: white;
    border-color: white;
}

.navbar-nav p {
    margin: auto auto;
    padding-right: .3rem;
}
#brand, #menuIcon {
    color: cornflowerblue;
}

#brand {
    padding-left: 15px;
    vertical-align: middle;
}

.navbar-toggler {
    background-color: cornflowerblue;
}

.navbar-toggler-icon {
    color: cornflowerblue;
}

.nav-link{
    color: cornflowerblue !important;
}

.fixed-header {
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    left: 0px;
}

.fixed-header, .breadcrumb {
    padding-left: 0;
    padding-right:0 ;
}

.breadcrumb {
    background-color: white;
}

#menuIcon img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

#header {
    justify-content: space-between;
}

#navbarNavAltMarkup > div > li {
    margin: auto auto;
}

#menuIcon {
    margin: auto auto;
}

#buttonMenu {
    margin: 0 auto;
}

#navbarNavAltMarkup {
    text-align: center;
    padding-right: 15px;
}

/* fix overlay modal/header navbar */
.modal-content{
    z-index: 100000 !important;
}

.brand-div {
    padding-left: 15px;
}

.button-div {
    padding-right: 15px;
    text-align: right;
}

@media (min-width: 1440px) {
    .navbar-nav {
        margin: 0 7rem;
    }
}

@media (min-width: 2560px) {
    .navbar-nav {
        margin: 0 26rem;
    }
}
