#searchBox {
    background-color: white;
    color: cornflowerblue;
    border-color: cornflowerblue;
}

#searchBox:hover {
    background-color: cornflowerblue;
    color: white;
    border-color: white;
}

#searchBox:focus {
    background-color: cornflowerblue;
    color: white;
    border-color: white;
}

#brand, #menuIcon {
    color: cornflowerblue;
}

.navbar-toggler {
    background-color: cornflowerblue;
}

.navbar-toggler-icon {
    color: cornflowerblue;
}

.nav-link{
    color: cornflowerblue !important;
}

.fixed-header {
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
}

.fixed-header, .breadcrumb {
    padding-left: 0;
    padding-right:0 ;
}

.breadcrumb {
    background-color: white;
}

#buttonMenu {
    margin: 0 auto;
}

#navbarNavAltMarkup {
    margin: 0 auto;
}

/* fix overlay modal/header navbar */
.modal-content{
    z-index: 100000 !important;
}
