@media (min-width : 320px) {
    #mainContainer {
        margin-top: 11rem;
    }
}
@media (min-width : 480px) {
    #mainContainer {
        margin-top: 11rem;
    }
}

@media (min-width: 576px) {
    #mainContainer {
        margin-top: 8rem;
    }
}

@media (min-width: 768px) {
    #mainContainer {
        margin-top: 6rem;
    }
}

@media (min-width: 992px) {
    #mainContainer {
        margin-top: 6rem;
    }
}

@media (min-width: 1200px) {

}
