/*.container {padding:20px;}*/
.publication{
  border: 2px solid rgb(200, 200, 200) !important;
  padding: 10px;
  border-radius: 5px
}

#title{
  font-weight: bold;
}

#authors{
  font-style: italic;
}
