/*.container {padding:20px;}*/
#title{
  font-size: large;
}

#authors{
  font-style: italic;
  font-size: medium;
}

#venue{
  font-size: small;
}

#topics{
  font-size: medium;
}

.publication_item{
  border: 1px solid rgb(200, 200, 200) !important;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

label{
  font-weight: bold;
  text-align: right;
}

[id~=md]{
  font-weight: bold;
  text-align: right;
}

#uno, #due{
  font-weight: bold;
}