.panel-heading h3 {
    display: inline-block;
    line-height: 1;
    font-size: 1.50rem;
}

.panel-heading {
    float: left;
}

.fa-eye, .fa-pencil {
    padding: 5px;
}

.panel-footer {
    height: 50px;
    float: left;
    width: 100%;
}

.panel-footer .btn-primary {
    margin: 8px;
}

.panel-primary {
    -webkit-box-shadow: 3px 3px 30px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 30px 10px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 30px 2px rgba(0,0,0,0.3);
    margin: 10px 10px;
    float: left;
}

.panel {
    border-radius: 2%;
}

.panel-body {
    float: left;
    overflow: hidden;
}

.icon, .title {
    float: left;
}

#list_container {
    margin: 0 auto;
}

#navbar {
    margin-bottom: 1rem;
}
